* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-main-clr: #f9faf8;
    --font-secondary-clr: #e5e7eb;
    --font-logo-clr: #f9faf8;
    --font-header-clr: #1f2937;
    --font-quote: #1f2937;
    --bg-quote: #e5e7eb;
    --btn-clr: #3882f6;
    --bg-dark-clr: #1f2937;

}

img, .chef-img {
    height: 20rem;
    width: 15rem;
}
body {
    text-align: center;
}
main {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes {
    background-color: aquamarine;
    border: 2px solid red;
    display: flex;
    margin: 3rem auto;
    width: 500px;
    gap: 10px;
    justify-content: space-evenly;
}

.boxes > div {
    background-color: blue;
    border: 2px solid red;
    width: 5em;
    height: 5em;
    
    
}