* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-main-clr: #f9faf8;
    --font-secondary-clr: #e5e7eb;
    --font-logo-clr: #f9faf8;
    --font-header-clr: #1f2937;
    --font-quote: #1f2937;
    --bg-quote: #e5e7eb;
    --btn-clr: #3882f6;
    --bg-dark-clr: #1f2937;

}

img, .chef-img {
    height: 20rem;
    width: 15rem;
}
body {
    text-align: center;
}
.header {
    background-color: var(--bg-dark-clr);
    color: var(--font-main-clr);
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: auto;
    padding: 1em;
}
.header_logo {
    font-size: 24px;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.header_nav li {
    list-style-type: none;
}

.header_nav a {
    text-decoration: none;
    color: var(--font-main-clr);
}

.header_nav a:hover {
    color: var(--font-secondary-clr)
}

.container {
    background-color: var(--bg-dark-clr);
}
.home {
   
    color: var(--font-main-clr);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 920px;
    max-width: 80%;
    margin: auto;
    padding: 2em;
}

.home .main-text-section {
    flex: 2;
}

.home .hero_main-text {
    font-size: 48px;
    font-weight: extra-bold;
}

.home .hero_secondary-text {
    font-size: 18px;
}
.home .chef_img {
    flex: 1;
}

