* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-main-clr: #f9faf8;
    --font-secondary-clr: #e5e7eb;
    --font-logo-clr: #f9faf8;
    --font-header-clr: #1f2937;
    --font-quote: #1f2937;
    --bg-quote: #e5e7eb;
    --btn-clr: #3882f6;
    --bg-dark-clr: #1f2937;

}

img, .chef-img {
    height: 20rem;
    width: 15rem;
}
body {
    text-align: center;
}
.header {
    color: var(--font-main-clr);
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: auto;
    padding: 1em 0 ;

    width: 920px;
    max-width: 80%;
}
.header_logo {
    font-size: 24px;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.header_nav li {
    list-style-type: none;
}

.header_nav a {
    text-decoration: none;
    color: var(--font-main-clr);
}

.header_nav a:hover {
    color: var(--font-secondary-clr)
}

.container_dark {
    background-color: var(--bg-dark-clr);
}
.home {
   
    color: var(--font-main-clr);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 920px;
    max-width: 80%;
    margin: auto;
    padding: 2em 0;
}

.home .main-text-section {
    flex: 2;
}

.home .hero_main-text {
    font-size: 48px;
    font-weight: extra-bold;
}

.home .hero_secondary-text {
    color: var(--font-secondary-clr);
    font-size: 18px;
}

.home .main_btn {
    background-color: var(--btn-clr);
    color: var(--font-secondary-clr);
    padding: .5em;
    border: none;
    border-radius: 5px;
    margin-top: .5em;
}
.home .chef_img {
    flex: 1;
}


/* ---- INFORMATION SECTION ----- */


.information {
    width: 920px;
    max-width: 80%;
    margin: auto;
    padding: 2em 0;
}

.information_header {
    color: var(--font-header-clr);
    font-size:  36px;
    margin-bottom: 1em;
}

.information_section {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.information_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;

}
.information_section .box {
    width: 120px;
    height: 120px;
    border: solid 2px var(--btn-clr);
    border-radius: 5px;
    margin: 1em 0;
}

/* ---- QUOTE SECTION ----- */

.container_gray {
    background-color: var(--bg-quote);
}

.quote {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 920px;
    max-width: 80%;
    margin: auto;
    padding: 2em 0;
}

.quote blockquote {
    font-size: 36px;
}

.container_cta {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;
    max-width: 80%;
    margin: auto;
}
.cta_section {
    background-color: var(--btn-clr);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.cta_main-text {
    text-align: left;
    width: 50%;
    color: var(--font-secondary-clr);
    padding: 2em;
    
}
.cta_btn {
    background-color: var(--btn-clr);
    color: var(--font-secondary-clr);
    padding: .5em;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: .5em;
}


footer {
    height: 5vh;
    background-color: var(--bg-dark-clr);
    color: var(--font-secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}